/*===================== CHANGE BUTTON ===============*/

#header .top .currency a {
	background-color: #7BA720;
	height: 20px;
	color: #fff;
	padding: 0 6px 6px 6px;
	border-radius: 4px;
	align-items: center;
}
#header .top .currency a span {
	vertical-align: middle;
}
input {
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 1px 1px #eee;
	padding-left: 5px;
	height: 25px;
}

/*** Login form **/
.main-top .left .login-box .content #login-form {
	margin-top: 11px;
}

.main-top .left .login-box .content #login-form div {
	margin-bottom: 13px;
}

.main-top .left .login-box .content #login-form div.login-btn {
	margin-top: 17px;
}
.main-top .left .login-box .content #login-form div.login-btn input {
	height: 22px;
	width: 56px;
	background: #7BA720;
	color: #fff;
	border-radius: 2px;
	border: none;
	padding: 0;
}
.main-top .left .login-box .content #login-form div.remember-me {
	margin-top: 18px;
	font-size: 14px;
	font-weight: 600;
}
.main-top .left .login-box .content #login-form div.remember-me input {
	height: auto;
	box-shadow: none;
}
/*************Search form*************/
.main-top .left .search-box .content #search-form  {
	margin-top: 10px;
}
.main-top .left .search-box .content #search-form input {
	background: url('../images/search.png') center right no-repeat;
	
}
