body {
	background: url('../images/background-body.jpg') left top repeat;

}

#wrapper {
	background: url('../images/background.jpg') left top repeat;
	width: 940px;
	margin: 0 auto;
	padding: 0 60px;
	position: relative;
}
/* GLOBAL START */
.box {
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}

/* GLOBAL END */
/*============================ HEADER =================================*/
#header .top {
	height: 130px;
}
#header .top .logo {
	float: left;
	height: 130px;
	line-height: 130px;
}
#header .top .logo img {
	vertical-align: middle;
}
#header .top .currency {
	float: right;
	margin: 83px 0 27px 0;
}
#header .top .currency > span {
	font-weight: bold;
}

/*======== MENU ============*/
#header .menu {
	background: url('../images/menu-content.jpg') top left repeat-x;
}

#header .menu .content {
	height: 45px;
	background: url('../images/menu-left.jpg') top left no-repeat, 
	url('../images/menu-right.jpg') top right no-repeat;

}
#header .menu .content ul {
	position: relative;
}

#header .menu .content li {
	float: left;
}

#header .menu .content li a {
	display: inline-block;
	padding: 0 22px;
	font: bold 14px/45px Arial, Helvetica, sans-serif;
	color: #0C0043;
	text-transform: uppercase;
}

#header .menu .content li a:hover {
	text-decoration: underline;
} 
#header .menu .content .cart {
	position: absolute;
	top: 0;
	right: 35px;
}
#header .menu .content .cart a {
	display: inline;
	color: #87C1BE;
	font: bold 12px/45px Arial, Helvetica, sans-serif;
	padding: 0;
}
#header .menu .content .cart span {
	font-weight: bold;
}

/*============================= CONTENT - MAIN ===============================*/
.main-top {
	margin-top: 18px;
}

.main-top .left {
	width: 220px;
	float: left;
}
.main-top .left .login-box {
	height: 262px;
	
}
.main-top .left .login-box .content {
	padding: 25px 30px 25px 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-top .left .login-box .content p {
	margin-top: 10px;
	font-size: 14px;
}

.main-top .left .search-box {
	height: 100px;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}
.main-top .left .search-box .content {
	padding: 25px 30px 222px 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.main-top .right {
	margin-left: 240px;
	width: 700px;
}

.main-top .right .slide {
	height: 386px;
}

/*====================  MAIN BOTTOM START =====================*/
#main-bottom {
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

#main-bottom .left {
	width: 220px;
	float: left;
}

#main-bottom .left .special-products {
	padding: 25px 13px 13px 12px;
}
#main-bottom .left .special-products .content .product {
	height: 125px;
	padding: 32px 0;
	border-bottom: 1px solid #d2d2d2;
	box-sizing: border-box;
}
#main-bottom .left .special-products .content .product h4 {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 32px;
}
#main-bottom .left .special-products .content .product span {
	font-size: 14px;
}
#main-bottom .left .special-products .content .product img {
	float: left;
}
#main-bottom .left .special-products .content .product div {
	margin-left: 80px;
}
#main-bottom .left .special-products h3 {
	margin-bottom: 10px;
}

#main-bottom .right {
	margin-left: 240px;
	width: 700px;
}
#main-bottom .right .products{
	width: 480px;
	float: left;
}
#main-bottom .right .products .row:first-of-type{
	border-bottom: 1px solid #d2d2d2;
}
#main-bottom .right .products .row .product{
	width: 240px;
	background: transparent;
	border: none;
	border-radius: 0;
	float: left;
	box-sizing: border-box;
}
#main-bottom .right .products .row .product img + p {
	margin-top: 13px;
}

#main-bottom .right .products .row div:first-of-type {
	border-right: 1px solid #d2d2d2;
	padding: 0 5px 35px 0px;
}
#main-bottom .right .products .row div:nth-child(2) {
	padding: 0 5px 35px 20px;
}
#main-bottom .right .products .row .product .price {
	margin: 40px 0 30px 0;
	color: #7BA720;
	font-weight: bold;
}
#main-bottom .right .products div:nth-child(odd) {
	
}
#main-bottom .right .category {
	width: 220px;
	float: right;
	box-sizing: border-box;
}
#main-bottom .right .category .list-category {
	padding: 25px 12px 20px 12px;
}
#main-bottom .right .category .list-category ul {
	margin-top: 20px;
}
#main-bottom .right .category .list-category ul li {
	padding: 4px 0 4px 5px;
	border-bottom: 1px solid #d2d2d2;
}
#main-bottom .right .category .list-category ul li a {
	color: #2A0055;
	font-size: 14px;
}
#main-bottom .right .category .banner {
	margin-top: 20px;
}
/*====================  MAIN BOTTOM END =====================*/

/*====================== BRAND START ========================*/
#wrapper .brand {
	margin-top: 25px;
	position: relative;
}
#wrapper .brand .arrow-left {
	position: absolute;
	top: 18px;
	left: -20px;
	vertical-align: middle;
}
#wrapper .brand .arrow-left img {
vertical-align: middle; 
}
#wrapper .brand .arrow-right {
	position: absolute;
	top: 18px;
	right: -20px;
	vertical-align: middle;
}
#wrapper .brand-slide {
	overflow: hidden;
	padding: 10px 0;
}
#wrapper .brand-slide div {
	width: 155px;
	float: left;
	text-align: center;
	border-right: 1px solid #d2d2d2;
}
#wrapper .brand-slide div:last-of-type {
	border:none;
}
#wrapper .brand-slide img {
	
}

/*====================== BRAND END ========================*/

/*====================== FOOTER START ========================*/
#wrapper .footer {
	padding-bottom: 13px;
}
#wrapper .footer .wrap-footer {
	position: relative;
	height: 80px;
}
#wrapper .footer .wrap-footer .copyright {
	position: absolute;
	bottom: 0;
	left: 0;
}
#wrapper .footer .wrap-footer .social {
	position: absolute;
	bottom: 0;
	right: 0;
}
/*====================== FOOTER END ========================*/
.top-click {
	height: 20px;
	width: 40px;
	padding: 5px 10px;
	background: #000;
	color: #fff;
	position: absolute;
	bottom: 60px;
	right: -60px;
}


/*======================== LINE  =============================*/
.line-h-45 {
	width: 1px;
	height: 45px;
	background: #D2D2D2;
}
.line-w-220 {
	margin-top: 30px;
	height: 1px;
	background: #d2d2d2;
}
.line-w-940 {
	margin-top: 45px;
	height: 1px;
	background: #d2d2d2;
}