/*Reset CSS*/
html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: sans-serif;
}

ol, ul {
	list-style: none;
}

/*End reset CSS*/
.clear {
	clear: both;
}
#main {
	width: 100%;
	height: auto;
	background-color: #006AFF;
}

#dang-ky-form {
	width: 90%;
	background-color: #006AFF;
	margin: 0 auto;
	padding: 50px 80px 100px 80px;
}
.left-dang-ky-form {
	width: 50%;
	float: left;
	padding-right: 40px;
	position: relative;
	color: #fff;
	top: 10vh;
}
.left-dang-ky-form h2 {
	margin-bottom: 25px;
}
.left-dang-ky-form p {
	margin-bottom: 25px;
}
.right-dang-ky-form{
	width: 50%;
	float: left;
}
#login {
	width: 400px;
}
#login + p {
	text-align: center;
	width: 400px;
	color: #fff;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
#login .google, #login .facebook {
	width: 50%;
	float: left;
}
#login .google img{
	width: 190px;
	height: 40px;
}
#login .facebook {
	text-align: right;
}
#login .facebook img{
	width: 190px;
	overflow: hidden;
	height: 40px;
	position: relative;
}
.right-dang-ky-form form p {
	height: 40px;
	width: 400px;
	margin-bottom: 10px;
}
.right-dang-ky-form form p label {
	display: inline-block;
	width: 150px;
	float: left;
	background-color: #ECF1EE;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}
.right-dang-ky-form form p input {
	display: inline-block;
	width: 250px;float: left;
	height: 40px;
	border: none;
}
.right-dang-ky-form form p:last-of-type {
	font-size: 14px;
	color: #fff;
}
.right-dang-ky-form form p:last-of-type button {
	display: block;
	float: left;
	width: 150px;
	margin-right: 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	height: 40px;
	color: #fff;
	font-weight: 700;
}