/*Reset CSS*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



/*End Reset CSS*/
html, body{
	height: 100%; 
}
.exe-01 {
	position: relative;
	width: 100%;
	height: 100%;
}
.box-center {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
}
.box-big {
	width: 200px;
	height: 100px;
	background: #00aa00;
}
.box-tl {
	position: absolute;
	top: 0;
	left: 0;
}
.box-tr {
	position: absolute;
	top: 0;
	right: 0;
}
.box-bl {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.box-br {
	position: absolute;
	bottom: 0;
	right: 0;
}

.box-small {
	width: 100px;
	height: 50px;
	background: #339999;
}
.box-small-tl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-200%,-200%);
}
.box-small-tr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(100%,-200%);
}
.box-small-bl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-200%,100%);
}
.box-small-br {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(100%,100%);
}
.box-big h3, .box-small h3 {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}