/*Reset CSS*/
html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

/*End reset CSS*/

/*Global CSS*/
body {
	max-width: 900px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: inherit;
}
.clear {
	clear: both;
}
/* END Global CSS*/

#wrap-header {
	position: relative;
}
.image-banner img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 450px;
}
.avatar {
	position: absolute;
	left: 20px;
	top: 300px;
	max-width: 450px;
}
.avatar img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	display: block;
	float: left;
}
.avatar a {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	z-index: 1;
	color: #fff;
	margin-left: 20px;
	position: absolute;
	width: 250px;
	bottom: 50px;
	font-size: 20px;
}

.info{

	position: absolute;
	right: 20px;
	top: 400px;
}
.update-info, .history-active{
	float: left;
	background-color: inherit;
	height: 25px;
	line-height: 15px;
	background-color: #EBEDF0;
}
.update-info {
	line-height: 23px;
	padding: 0 8px;
	border: 1px solid #333;
}
.update-info a span {
	font-weight: bold;
	background-color: red;
	color: #fff;
	font-size: 14px;
	padding: 1px 2px;
	border-radius: 2px;
}
.history-active .more{
	border-left: 2px solid #CCD0D5;
	display: inline-block;
	height: 100%;
	padding: 4px 8px;
}
.history-active {
	margin-left: 5px;
	border: 1px solid #333;
}
.history-active a:first-of-type {
	padding: 4px 10px;
}

.history-active button {
	height: 100%;
}
#section-menu {
	border: 1px solid #E9EAED;
}
#menu {
	text-align: right;
	margin-right: 15px;
}
#menu > li {
	display: inline-table;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #E9EAED;
	margin-right: -4px;
	position: relative;
}
#menu > li:last-of-type {
	border-right: 1px solid #e9eaed;
}
#menu > li > a {
	display: block;
	padding: 0 20px;
}
#menu > li> a:hover {
	background-color: #F5F6F7;
}

.sub-menu {
	position: absolute;
	text-align: left;
	border: 1px solid #e9eaed;
	width: max-content;
	display: none;
}
#menu > li:hover .sub-menu {
	display: block;
}
.sub-menu li {
	height: 30px;
	line-height: 30px;
}
.sub-menu li:first-of-type {
	padding-top: 5px;
	line-height: 25px;
}
.sub-menu li:last-of-type {
	padding-bottom: : 5px;
	line-height: 25px;
}
.sub-menu li a {
	display: block;
	padding: 0 20px;
	font-size: 14px;
}
.sub-menu li a:hover {
	background-color: #F5F6F7;
}

